   /* font import start */

   @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap');

   /* font import end */

   /* Common Styles Are Utilites Starts */

   body {
       font-family: poppins;
       font-weight: 400;
       margin: 0;
       color: #6C6C6C;
   }

   h1 {
       font-size: 64px;
   }

   h2 {
       font-size: 48px;
   }

   ul,
   li,
   a {
       padding: 0;
       margin: 0;
       margin-top: 25px;
   }

   .container {
       display: flex;
       margin-bottom: 100px;
       width: 1160px;
       margin: 0 auto;
       padding-bottom: 84px;
   }

   /***************************** 
   Common Styles Are Utilites End
    *****************************/

   /* Header Styles Start From Here */
   header {
       background-color: #2D25A0;
       width: 100%;
   }

   .menu-section {
       justify-content: space-between;
       /* align-items: center; */
       padding: 50px 0 50px 0;
   }

   .menu ul li {
       display: inline-block;
       padding-right: 36px;
   }

   .menu ul li:hover a {
       color: #E02C6D;
   }

   .menu ul li a {
       text-decoration: none;
       color: #FFFFFF;
       transition: 1s;
   }

   .login {
       margin-top: 57px;
       margin-left: 400px;
   }

   .header-area {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
   }

   .copa-america {
       width: 85%;
       color: #FFFFFF;
       font-weight: 700;
   }

   .link-button {
       background-color: #E02C6D;
       color: #FFFFFF;
       padding: 10px 24px;
       text-decoration: none;

   }

   .header-area:hover .banner img {
       transform: scale(1.1);
   }

   .banner img {
       width: 100%;
       transition: 1s;
   }

   /******************************* 
   Player Blogs Style Start Form Hear 
   *********************************/
   .blogs {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-row-gap: 27px;
       margin-top: 70px;
       /* align-items: flex-start; */
   }

   .player-blog {
       width: 330px;
       justify-content: center;
       padding: 15px 11px 33px 11px;
       box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

   }

   .bolog .blog-info {
       margin-left: 5px;
   }

   .blog-title:hover {
       color: gold;
   }

   .blog-title {
       transition: 1s;
   }

   .thumbnail img {
       width: 320px;
       transition: 1s;
   }

   .thumbnail img:hover {
       transform: scale(1.1);
   }

   .blog-title {
       color: #18191F;
   }

   .reed-more {
       text-decoration: none;
       font-weight: 700;
       color: #E02C6D;
   }

   /* pagination start hear */

   .pagination {
       text-align: center;
   }

   .pagination a:nth-child(2) {
       color: #E02C6D;
   }

   .pagination a {
       color: black;
       float: left;
       padding: 20px 14px;
       text-decoration: none;
       font-weight: 700;
   }

   /* pagination style End hear */


   /* highlight style start */

   .Highlights {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
   }

   .Highlights h2 {
       color: #0A0826;
       margin-top: 35px;
       width: 100%;
       transition: 1s;
   }

   .Highlights:hover h2 {
       transform: scale(1.1);
   }

   .Highlights p {
       padding-bottom: 24px;
       display: block;
       width: 80%;
       transition: s;
   }

   .Highlights:hover p {
       color: slateblue;
   }

   /* Highlight End Hear  */

   /* Footer Start Hear */

   footer {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 50px;
       margin-bottom: 63px;
   }

   .footer-logo img {
       height: 110px;
   }

   .icons {
       list-style: none;
   }

   .icon {
       display: inline-block;
       width: 32px;
       height: 32px;
       background: #e7e7e8;
       border-radius: 50%;
       font-size: 17px;
       text-align: center;
       line-height: 32px;
       margin-left: 14px;
   }

   .icon a {
       color: #969BAB;
   }

   /* Footer End From Hear */


   /* Responsiv Start From Hear */

   @media only screen and (max-width:688px) {
       .container {
           width: 100%;
           padding-bottom: 0;
       }

       .menu-section {
           display: none;

       }

       .copa-america {
           margin-bottom: 50px;
       }

       .copa-america h1 {
           font-size: 36px;
           margin-bottom: 50px;
       }

       .banner img {
           width: 90%;
       }

       .header-area {
           grid-template-columns: repeat(1, 1fr);
           margin-left: 15px;
       }

       .blogs {
           grid-template-columns: repeat(1, 1fr);
       }

       .player-blog {
           width: 95%;
       }

       .player-blog img {
           width: 100%;
       }

       .Highlights {
           grid-template-columns: repeat(1, 1fr);
       }

       .shighlights-details {
           width: 100%;
           margin-left: 20px;
           margin-bottom: 20px;
       }

       .Highlights h2 {
           font-size: 30px;
           width: 95%;
       }

       .Highlights-video ifram {
           width: 90%;
           height: 300px;
           margin-left: 20px;
       }
   }

   @media only screen and (min-width:688px) and (max-width:1159px) {
       .container {
           width: 80%;
           padding-bottom: 50%;
           margin: 0 auto;
       }

       .menu-section {
           display: none;
       }

       .header-area {
           grid-template-columns: repeat(2, 1fr);
       }

       .header-area h1 {
           font-size: 36px;
           line-height: 80px;
           margin-top: 100px;
       }

       .banner img {
           width: 100%;
           margin-top: 80px;
       }

       .blogs {
           grid-template-columns: repeat(2, 1fr);
           grid-auto-flow: center;
           grid-column-gap: 30px;
       }

       .player-blog {
           width: 100%;
       }

       .player-blog img {
           width: 100%;
       }

       .highlights {
           display: flex;
           flex-direction: column;
           align-items: center;
       }

       .highlights-details {
           width: 100%;
           padding-left: 50px;
           margin-bottom: 50px;
       }
   }